* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

header {
    background-color: gray;
    height: 60px;
    color: red;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;

}

.header-left {
    padding-top: 20px;
    padding-right: 20px;
}

.header-right {
    float: right;
    margin-left: 20px;
}

.top-wrapper {
    color: black;
    padding-top: 30px;
}
